**/node_modules
**/oh_modules
**/oh-package-lock.json5
**/package-lock.json5
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/signing
.obsidian
/doc/原始需求
framework/harness/dist
framework/harness/reports/*
!framework/harness/reports/.gitkeep